* {
  font-family: Arial;
  font-size: 13px;
  margin: 1px;
}

.triangle_image {
  float: left;
  border-left: 5px white;
  margin-left: 2px;
  margin-top: 2px;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.topright{
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}

.content {
  float: right;
  margin-top: 50px;
  margin-right: 25%;
}

h3 {
  font-size: 28px;
  padding-bottom: 15%;
}

h4 {
  font-size: 20px;
  padding-bottom: 5px;
}

hr {
  background-color: rgb(0, 147, 143);
  width: 20%;
  height: 1px;
  padding: 1px;
  margin-bottom: 20px;
}

input {
  font-size: 0.8em;
}

.placeholder{
  background-color: transparent;
  width: 100%;
  height: 25px;
}

label {
  padding-left: 5px;
}

.btn {
  background-color: #FAFAFA;
  background: linear-gradient(#FAFAFA, #E0E0E0);
  border-color: #C0C0C0;
  box-shadow: 1px 1px 1px grey;
  color: black;
  padding: 8px 10px;
  text-align: center;
  font-size: 0.8em;
  margin: 4px 2px;
  width: 100%;
  cursor: pointer;
}


.footer {
  word-spacing: normal;
  margin-top: 5%;
  margin-right: 10px ;
  float: right;
}

.footer a {
  text-decoration: none;
  color: rgb(0, 147, 143);
}
.download {
  font-size: 15px;
  float: left;
  text-align: left;
  clear: left;
}
